label { display: block; margin-top: 1.4em; }
input, textarea { padding: 0.6em 0.4em; font-size: 1.4em; border-radius: 4px; border: 1px solid #ccc; width: 50%; box-sizing: border-box;}

form.content { margin-bottom: 6em; }
form.content label { margin-top: 2.8em; display: block; }
form.content label + p { margin-top: 0.8em; }
form.content input, form.content textarea {  width: 100%; margin: 0.8em 0 0;  }
form.content input:focus, form.content textarea:focus { outline: none; box-shadow: 0 2px 3px 0 #a4d5f6; }

div.meta { padding: 0 0.6em 0.6em; margin-top: 3em; background: #e5e5e5; border-radius: 6px; border: 1px solid #bbb; }

p.charCount { margin-top: 0.2em; text-align: right;}

button { margin-top: 1.6em; background: #1790e1; color: #fff; text-transform: uppercase; border-radius: 4px; font-weight: 500; font-size: 1.2em; padding: 0.6em 1em; border: none; }
button:hover { background: #185d8c; }

.preview { background: #ddd; padding-top: 0; }
.preview .content { position: relative; z-index: 2; margin-top: 0; padding-top: 2em;}
.preview .content::before {content: 'PREVIEW'; color: #ccc; letter-spacing: 1px; font-size: 12em; font-weight: 700; position: absolute; top: 0.27em; left: 0; z-index: -1; }

img.profile { width: auto; height: 100px; margin: 1.4em 0; background: #eee; padding: 0.6em; }

.textOverlay { position: relative; }
.textOverlay h2, .textOverlay p { position: absolute; width: 50%; background: #f7f7f7; padding: 0.4em; }
.textOverlay h2 { top: 1em; left: 1em; }
.textOverlay p { top: 9em; left: 1.25em; }

ul.categories { list-style-type: none; padding: 0; margin: 1.4em 0; }
.categories li { display: inline-block; padding: 1.2em; margin: 0 0.8em; background: #ddd; border-radius: 1em; }
.categories li:first-child { margin-left: 0; }
.categories li.selected, .preview .categories li { background: #555; color: #fff; }

.preview .video {width: 100%; height: 0; padding-top: 56.25%; background: #ccc; margin-top: 2em; position: relative; }
.preview .video::before { content: ''; width: 0px; height: 0px; border-style: solid; border-width: 25px 0 25px 50px; border-color: transparent transparent transparent #999; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

.preview .flex .intro { width: 80%; }
.preview .flex .bookmark { width: 100px; background: #999; position: relative; }
.preview .flex .bookmark::before { width: 0; height: 0; content: ''; border-width: 0 50px 30px 50px; border-color: transparent transparent #ddd transparent; border-style: solid; position: absolute; bottom: 0; left: 0; }