@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;0,700;1,300;1,500&display=swap');

body { font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 1.4em; margin: 0; padding: 0; background: #f7f7f7; color: #333; }

h1, h2, h3, p, ul, a.button { margin: 1.5em 0 0 0; }
h1, h2 { line-height: 1.2em; font-weight: 700; }
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; line-height: 1.4em; font-weight: 300; }
p, ul, a { font-size: 1em; line-height: 1.4em; font-weight: 300; }
p.intro { font-size: 1.2em; }
p.meta { font-weight: 500; margin: 0.5em 0; padding: 0 0 0 1.75em; color: #666; }
p.meta:first-of-type { margin-top: 1.4em; }
ul { margin-left: 1em; }
li { margin: 0.7em 0 0; }

p.readingTime { background: url('./icons/clock.svg') no-repeat 0 0; }
p.author { background: url('./icons/people.svg') no-repeat 0 4px; }

a.button { display: inline-block; padding: 1em 0.8em; border-radius: 4px; background: #666; color: #fff; text-decoration: none; font-weight: 500; text-transform: uppercase; }

.hero { padding: 0 0 3em; }
.section { padding: 1em 0; }
.content { width: 80vw; max-width: 1200px; margin: 1em auto; }
.grey, aside { background: #d8d8d8; }

header h3 { position: relative; font-size: 1.6em; font-weight: 400; display: inline-block; margin: 1em 1em 1em 5vw; padding: 0.3em 0 0 1.8em; }
header h3::before { height: 1.6em; width: 1.6em; content: ' '; position: absolute; left: 0; top: 0; background: url('./icons/brens-lab-dark.svg') no-repeat; }

nav { background: #666; text-transform: uppercase; }
nav a, nav p { display: inline-block; color: #fff; text-decoration: none; padding: 1em; font-weight: 500; letter-spacing: 1px; }
nav a:first-child { margin-left: 5vw; }
a.button:hover, nav a:hover { background: #444; }
nav p:hover { text-decoration: underline; }
header button { display: none; }

footer { background: #666; padding: 1em 0 6em; }
footer nav { background: none; font-size: 0.8em; }
footer p { color: #fff; margin: 1.5em 0 0 1em; }
footer nav p { margin: 0 0 0 0.2em; }

.centered { text-align: center; }

.flex { display: flex; }
.wrap { flex-wrap: nowrap; }
.twoThirds { width: 66%; }
.thirds { width: 33%; }

article, .hero { width: 90vw; margin: 0 auto; }
article { margin-bottom: 3em; }

aside { padding: 0; border-radius: 8px; margin: 1.4em 0 0; }
aside h3 { background: #666; color: #fff; padding: 1em 1.25em; border-radius: 8px 8px 0 0;}
aside p, aside ul { padding: 0 2em 2em; }
aside.list h3 { background: none; padding-bottom: 0.6em; border-bottom: 1px solid #333; color: #333; font-weight: 500; }

aside.flex { padding-bottom: 1em; }
aside.flex p { font-weight: 500; padding: 0 2em 0.5em; }
aside.flex>p { font-size: 5em; font-weight: 700; margin: 0.25em; padding: 0; }
aside.flex div p:last-of-type { margin-top: 0; }

figure { margin: 2.8em 0; }
figcaption { background: #666; padding: 0.75em 1em; color: #fff; border-radius: 0 0 4px 4px; }
img { width: 100%; border-radius: 4px 4px 0 0; display: block; }

.chart { width: 60%; margin: 1.4em auto; }

.responsiveVideo { position: relative; padding-bottom: 33%; height: 0; overflow: hidden; margin: 1.4em auto 0 auto; width: 60%; }
.responsiveVideo iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
/* iframe { display: block; } */

.hero figure { margin: 3.5em 1em; }

.flex ul { width: 50%; box-sizing: border-box; }

.courseProg { margin-top: 8em; box-sizing: border-box; padding: 0 2em; }
.courseProg p { margin-top: 1em; }
.courseProg a.button { width: 100%; text-align: center; }
.total { width: 100%; height: 0.5em; border-radius: 4px; background: #d8d8d8; margin-top: 1em; }
.progress { height: 100%; border-radius: 4px; background: #666; }

ul.course { list-style-type: none; padding: 0; margin: 1.4em 0 0; border: 1px solid #AAA; }
.course li h3 { position: relative; background: #d8d8d8; border-top: 1px solid #AAA; border-bottom: 1px solid #AAA; padding: 0.8em 0.8em 0.8em 1.6em; }
.course li:first-of-type, .course h3:first-of-type { margin-top: 0; border-top: none; }
.course li h3::before { position: absolute; top: 1.4em; left: 0.6em; content: ''; width: 0; height: 0; border-width: 6px 5px 0 5px; border-color: #000 transparent transparent transparent; border-style: solid; }
.course li h3.acctive::before { position: absolute; top: 1.4em; left: 0.6em; content: ''; width: 0; height: 0; border-width: 0 5px 6px 5px; border-color: #000 transparent transparent transparent; border-style: solid; }
.course ul { padding: 0; list-style-type: none; margin: 1em; }
.course ul li { background: url('./icons/video.svg') no-repeat 0 0; padding-left: 2em; }
.course em { text-align: right; display: block; float: right; }

.profile figure { width: 25%; margin: 2.4em 3em 0 0; }
.profile img { border-radius: 75%; border: #333 2px solid; }
.profile p:nth-of-type(1) { margin: 0.6em 0; }

@media screen and ( max-width: 1200px ) {
  .responsiveVideo { width: 80%; padding-bottom: 45%; }
}

@media screen and ( max-width: 1024px ) {
  .profile figure { width: 27%; max-width: 300px; margin: 1.4em 6% 0 0; }
  .profile div { width: 66%; }

  .responsiveVideo { padding-bottom: 56.25%; width: 100%; }
}

@media screen and ( max-width: 900px ) {
  .wrap { flex-wrap: wrap; }
  aside.wrap { flex-wrap: nowrap; }
  .twoThirds, .thirds { width: 100%; }

  .hero { flex-direction: column-reverse; }
  .hero.course { flex-direction: column; }
  .hero figure { margin: 3em 0 0 0; }

  .content { width: 90vw; }

  .flex ul { width: 100%; text-align: center; list-style-position: inside; padding: 0; margin-left: 0; }

  .courseProg { margin-top: 1.4em; }
  .courseProg a.button { width: fit-content; display: block; margin: 1.5em auto 0; }

  .profile figure { width: 50%; max-width: 250px; margin: 1.4em auto 0 auto; }
  .profile div { width: 100%; }
}

@media screen and ( max-width: 700px ) {
  aside.flex>p { font-size: 3em; margin: 0.5em 0 0.5em 0.5em; }
}

@media screen and ( max-width: 500px ) {
  a.button { display: block; width: fit-content; margin: 1.5em auto 0; }

  aside.wrap { flex-wrap: wrap; }
  aside.flex p { margin-top: 0.6em; }
  aside.flex>p { font-size: 5em; margin: 0em 0 0em 0.4em; }

  .flex ul { padding: 0 10vw; text-align: left; list-style-position: outside; }
  .course h3 { margin-top: 0; }
  .course h3, .course li { overflow: auto; }
  .course em { float: left; text-align: left; font-size: 0.8em; margin-top: 0.4em; }
  .course ul li { background-position: 0 0.5em; }
}